<!--
<h2>Admin</h2>
<div class="admin-ui">
				<%# if can? :read, Permission.new(:unit_id => nil) %>
				<%# end %>
    <%# tabs = TabsRenderer.new(self) %>
      <%# tabs.create('categories_tab', 'Package Categories') do %>
        <p>Categories</p>
      <%# end %>
      <%# tabs.create('permissions_tab', 'Permissions') do %>
        <p>Permissions</p>
      <%# end %>
    <%#= tabs.render.html_safe %>
</div>
-->
