<div id="tabs">
	<ul>
		<li><a href="#general_settings_tab"><span>General Settings</span></a></li>
		<li><a href="#authentication_tab"><span>Authentication</span></a></li>
	</ul>
	
	<!-- First tab starts here -->
	<div id="general_settings_tab">
    <%= f.inputs do %>
      <% @settings.each do |key| %>
        <% options = Setting.defaults[key] %>
        <%= f.input key, :input_html => { :name => key, :value => Setting.send(key) }, :label => options[:name] %>
      <% end %>
    <% end %>
  </div>

  <div id="authentication_tab">
    <%= f.inputs do %>
      <% @auth_settings.each do |key| %>
        <% options = Setting.defaults[key] %>
        <%= f.input key, :input_html => { :name => key, :value => Setting.send(key) }, :label => options[:name] %>
      <% end %>
    <% end %>
  </div>
</div>
