<h2>Listing settings</h2>
<% @setting_categories.each do |category| %>
  <table class="table table-bordered table-striped settings" id="<%= category.name %>">
    <tr>
      <td colspan="2" class="category"><%= category.name.titleize %></td>
    </tr>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
    <% category.settings.each do |setting| %>
      <tr>
        <td class="name"><%= setting.name %></td>
        <td class="value"><%= setting_input(setting) %></td>
      </tr>
    <% end %>
  </table>
<% end %>