/*
 *
 * Styles for the tabs in admin interface
 * Most come from jquery-ui implementation of Munkiserver
 */

#admin_tabs {
  border: none ;
  background: #ffffff/*{bgColorContent}*//*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
  color: #222222/*{fcContent}*/;
  position: relative;
  margin-bottom: 1em;
}

#admin_tabs ul {
  border: 0px;
  background: #594F4F/*{bgColorHeader}*/ /*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/;
  color: #222222/*{fcHeader}*/;
  font-weight: inherit;
  margin: 0;
  padding: .2em .2em 0;
  display: block;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: inherit;
  list-style: none;
}

#admin_tabs ul::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#admin_tabs li {
  list-style: none;
  float: left;
  position: relative;
  top: 1px;
  margin: 0 .2em 1px 0;
  border-bottom: 0 !important;
  padding: 0;
  white-space: nowrap;
  border: 1px solid #d3d3d3/*{borderColorDefault}*/;
  background: #e6e6e6/*{bgColorDefault}*/ /*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
  font-weight: normal/*{fwDefault}*/;
  color: #555555/*{fcDefault}*/;
}

#admin_tabs li:hover {
  border: 1px solid #999999/*{borderColorHover}*/;
  background: #dadada/*{bgColorHover}*/ /*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
  font-weight: normal/*{fwDefault}*/;
  color: #212121/*{fcHover}*/;
}

#admin_tabs li.current {
  border: 1px solid #aaaaaa/*{borderColorActive}*/;
  background: #ffffff/*{bgColorActive}*/ /*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/;
  font-weight: normal/*{fwDefault}*/;
  color: #212121/*{fcActive}*/;
  margin-bottom: 0;
  padding-bottom: 1px;
}

#admin_tabs li.current a {
  cursor: text;
  color: #212121;
}

#admin_tabs li a {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
  color: #555555;
}
/* END Admin interface tabs */
